/**
 * かずをかぞえよう - style.css
 */

@keyframes number-up {
    0% {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
    100% {
        transform: translateY(-100px) scale(1.5);
        opacity: 0;
    }
}

.animate-number-up {
    animation: number-up 1s forwards cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

.apple {
    /* 幼児がタップしやすいように当たり判定を少し広げる */
    padding: 20px;
    margin: -20px;
}
